@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f1f1f1;
}
section {
  overflow: hidden;
}

.titre {
  position: relative;
  top: 50px;
  font-size: 3em;
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  width: 500px;
  margin: 30px auto;
  letter-spacing: 2px;
  color: #14213d;
  text-transform: capitalize;
  white-space: nowrap;
}
/* Barre nav */

.premierbarre {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 80px;
  padding: 20px;
  background-color: #edf2f4e6;
  border-radius: 15px;
  margin-bottom: 20px;
  z-index: 1000;
}
.premierbarre .premierul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.premierul a {
  text-decoration: none;
  color: #001d3d;
}

.premierli {
  position: relative;
  list-style-type: none;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  transition: color 0.6s;
  transition: transform 0.5s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  z-index: 10;
  border: 2px solid #001d3d;
}

.premierli:hover {
  box-shadow: 0px 5px 10px #001d3d49;
  transform: translateY(-5px);
  border-radius: 12px;
  color: #edf2f4;
}

.premierli:active {
  transform: translateY(5px);
}

.premierli::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001d3d;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  z-index: -10;
}

.premierli:hover::before {
  transform: scale(1) rotate(-180deg);
}

/* barre nav version reponsive */

.lien-res {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #001d3d;
  display: none;
  z-index: 2000;
}

.content-span {
  position: relative;
  left: 90%;
  width: 50px;
  height: 50px;
  background-color: #001d3d;
}

.content-span span {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.4s;
  z-index: 199;
}

.content-span span:nth-child(1) {
  top: 0;
}

.content-span span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.content-span span:nth-child(3) {
  bottom: 0;
}

.content-span span.active:nth-child(1) {
  top: 50%;
  transform: rotate(50deg);
}

.content-span span.active:nth-child(2) {
  transform: translate(-30px);
  opacity: 0;
}

.content-span span.active:nth-child(3) {
  top: 50%;
  transform: rotate(-50deg);
}

/* Presentation */
.presentation {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(23, 23, 22);
}

.presentation h1 {
  position: relative;
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 1px 1px #333;
  z-index: 100;
  font-family: "Poppins";
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 400px;
  box-shadow: 1px 1px 10px #001d3d;
  border-radius: 3px;
}

.card::before {
  content: "";
  position: absolute;
  top: calc(100% - 30px);
  left: calc(100% - 30px);
  width: 40px;
  height: 40px;
  border-right: 4px solid #001d3d;
  border-bottom: 4px solid #001d3d;
  transition: all 4s;
  border-radius: 3px;
}

.card::after {
  content: "";
  position: absolute;
  top: calc(0% - 10px);
  left: calc(0% - 10px);
  width: 40px;
  height: 40px;
  border-top: 4px solid #001d3d;
  border-left: 4px solid #001d3d;
  transition: all 4s;
  border-radius: 3px;
}

.card span {
  display: block;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  color: #001d3d;
  font-size: 70px;
  text-shadow: 1px 1px 1px #001d3d;
  letter-spacing: 4px;
}

.card p {
  font-family: "Poppins";
  font-family: 50px;
  text-align: center;
}

/* Partie resposive */

@media screen and (max-width: 900px) {
  .premierbarre {
    width: 100%;
  }

  .card {
    width: 70%;
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .premierbarre {
    transition: all 0.5s;
    transform: translate(100%);
    width: 50%;
    height: 100%;
  }
  .premierbarre.mouve {
    transition: all 0.5s;
    transform: translate(0%);
    width: 50%;
    height: 100%;
  }

  .premierul {
    flex-direction: column;
  }

  .lien-res {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .card {
    width: 86%;
    height: 400px;
  }

  .card span {
    font-size: 50px;
  }
  .presentation .titre {
    transform: translate(-100px);
    font-size: 40px;
  }
  .titre {
    transform: translate(-50px);
    font-size: 30px;
  }

  .content-span {
    position: relative;
    left: 87%;
    width: 50px;
    height: 50px;
    background-color: #001d3d;
  }
}

@media screen and (max-width: 350px) {
  .card span {
    font-size: 45px;
  }
}
